[gpg]
	format = ssh
[commit]
	gpgsign = true
[user]
        signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIB50NS3C9NdZ4BOCX2DhC+ZiOgE4+o5zuDwGfuMYwQuk 
	name = David Fengler
	email = info@davidfengler.de
[ghq]
	root = /Users/phant0mw0lf/dev
